.pageInteira {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(162, 227, 162);
  width: 100vw;
  height: 100vh;
}

.menu {
  background-color: rgb(201, 243, 201);
}

.main {
  background-color: rgb(162, 227, 162);
}

.hello {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13%;
  background-color: rgb(50, 125, 61);
}

.hello > h2{
  color: rgb(255, 255, 255);
}

.main > h1 {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  background-color: rgb(50, 125, 61);
  width: 93%;
  height: 8%;
  padding: 16px;
  margin: 30px;
  margin-top: 3%;
}

a {
 margin-top: 40px;
}

.h1Titles, .h2Resume{
  color:rgb(50, 125, 61);
  font-size: 1.4rem;
  padding-top: 10px;
}

.h1Resume{
  color: rgb(98, 93, 93);
  font-size: 1.0rem;
  width: 50%;
  
}

.imagem{
  padding-left: 19px;
  width: 200px;
  height: 200px;
  } 

li{
 background-color:  rgb(162, 227, 162);
 padding-bottom: 20px;
 display: flex;
 flex-direction: row;
 padding-left: 12px;
  }

  .dadosFilmes{
    padding-left: 20px;
  }

  .h1Date{
    padding-bottom: 15px;
  }