body {
  background-color: hwb(325 81% 4%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  justify-content: space-around;
  background-color: hwb(330 66% 7%);
  border: 2px solid rgb(226, 62, 136);
  border-radius: 1px;
  width: 340px;
  height: 370px;
  padding: 50px 20px 20px 20px;
  margin: 0 auto;
}

.botaoEntrar{
  color:  rgb(226, 62, 136);
  font-size: 20px;
  background-color: white;
  border: 3px solid rgb(226, 62, 136);
  border-radius: 6px;
  justify-content:center;
  padding: 12px;
  margin: 0 auto;
  width: 80%;
  display: block;
}

.InputName {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(226, 62, 136);
  border-radius: 6px;
  padding: 15px;
  width: 80%;
  margin: 0px auto 15px auto ;
  display: block;
}

.InputPassword {
  border: 3px solid rgb(226, 62, 136);
  border-radius: 6px;
  background-color: rgb(253, 253, 253);
  padding: 15px;
  width: 80%;
  margin: 0px auto 15px auto ;
  display: block;
}

a{
  color: rgb(193, 25, 100);
  margin: 0px auto 25px auto ;
  display: block;
  text-align: center;
}

label{
  color: rgb(193, 25, 100);
  font-size: large;
  margin: 5px auto;
  width: 80%;
 display: block;
}