.botaoDelete{
  margin: 0;
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(139, 134, 134);
  width: 40px;
  height: 40px;
  color: white;
}